* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url(img/fon2.png) no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
.border {
  border: 1px solid #fff;
}
.frame{
   position: absolute; 
  bottom: 0;
  right: 0;
  z-index: -1;
}
.miky{
  position: fixed;
  right: 0;
  bottom: 10px;
  z-index: -2;
  width: 285px;
  height: 300px;
 right: -10px;
  
}
.not-right{
  position: fixed;
  right: 13px;
  bottom: 303px;
  font-size: 11px;
  color: #8aa4a4;
  z-index: -1;

}
.not-right:hover{
  color:#fff;
  text-decoration: none;
}
.yes-right{
  position: fixed;
  right: 110px;
  bottom: 303px;
  font-size: 11px;
  color: #8aa4a4;
  z-index: -1;
}
.yes-right:hover{
  color:#fff;
  text-decoration: none;
}
.enter{
  position: fixed;
  right: 214px;
  bottom: 303px;
  font-size: 11px;
  color: #8aa4a4; 
  z-index: -1;
}
.enter:hover{
  color:#fff;
  text-decoration: none;
}

.popUp {
  position: absolute;
  width: 285px;
  height: 200px;
  bottom: 379px;
  right: 0;
  padding: 19px 5px 19px 10px;
}
.chat-write {
  background: #0c0c29;
  color:#fff;
}
.chat-write:focus {
  background: #0c0c29;
  color:#fff;
}
.send {
  background: #585998;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  border:none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
}
.send:hover {
  background: #3a3a69;

}
.close-chat, .open-chat {
  background: #2b2b5c;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  border:none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: 0.2s ease-in-out;
}
.open-chat {
  position: relative;
  top: -50px;
}
.close-chat:hover, .open-chat:hover {
  background: #161636;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
.right-side{
  display: flex;
  flex-direction: column;
  width: 277px;
  position: fixed;
  bottom: 0;
  right: 0;

}